.ipynb_checkpoints
.DS_Store
code/datasets/movie/aclImdb_v1.tar.gz

# Byte-compiled / optimized / DLL files
__pycache__/
*.h5
*.hdf5
*.pkl
__pycache__/
.cache
mlruns/
*.npy

# ignore excel, csv, and machine learning files
.xlsx
.csv
.pkl
.h5
.hdf5
.npy
